%h1
  Hourly Statistics for
  = @date.to_s

%h4
  %a{:href => "/"} Back to Home

- if @date > $first_day
  = to_date_url("Day Before", @date - 1)
- if @date < Date.today
  = to_date_url("Next Day", @date + 1)
  = to_date_url("Today", Date.today)

- if @hours.size < 24
  %h3== #{number @total_hits} Hits So Far
- else
  %h3== #{number @total_hits} Total Hits

%p

%img{:src => line_chart(@minutes, ['average_action_time_in_ms'], "Average (Mean) Request Time (ms)")}/
%img{:src => line_chart(@minutes, ['median_action_time_in_ms'], "Median Request Time (ms)")}/
%img{:src => line_chart((@minutes.any? ? @minutes : @hours), ['hits_per_second'], "Traffic per Second")}/
%img{:src => line_chart(@minutes, ["format_hits['android']", "format_hits['native_iphone']", "format_hits['palm_pre']", "format_hits['webkit']"], "Traffic by Other Formats")}/
%img{:src => line_chart(@minutes, ["language_hits['de']", "language_hits['fr']", "language_hits['ja']"], "Traffic by Other Languages")}/
%img{:src => line_chart(@minutes, [:cache_hit_ratio], "Local Cache Hit Ratio") { |c| c.axis :y, :range => [0.0, 1.0]}}/
%img{:src => line_chart(@minutes, [:spider_cache_hit_ratio], "Wikipedia Cache Hit Ratio")}/
%img{:src => line_chart(@minutes, [:load_average], "Server Load Average") }

.notice
  %em All times in UTC
.notice
  %em Also, since a large percentage of our hits are iPhone, we are not displaying graphs for iPhone usage.

%table{:style => "border: 1px solid"}
  %tr
    %td Hour
    %td Hits
    %td Req Per Second
    %td Median Request Time
    %td %Cached
    %td Languages
    %td Formats
    %td Cache Size
    %td Error %
    %td Home Page %
    %td Redirect %
  - @hours.reverse.each do |hour|
    %tr
      %td= hour.time.strftime("%I:00 %p<br/>%H00 hours")
      %td= hour.hits
      %td
        = hour.requests_per_second.to_s[0..4]
        (req / sec)
      %td
        - if hour.median_action_time
          = hour.median_action_time_in_ms
          ms
        - else
          N/A
      %td
        - if hour.cache_hit_ratio
          = (hour.cache_hit_ratio * 100).round
          \%
      %td
        - (hour.language_hits || {}).each do |key, value|
          == #{key.to_s}: #{value.to_s}, 
      %td
        - (hour.format_hits || {}).each do |key, value|
          == #{key.to_s}: #{value.to_s}, 
      %td
        = ((hour.cache_size || 0) / 1024.0).to_s[0..4] + " GB"
      %td= hour.percent_of(:errors)
      %td= hour.percent_of(:home_page_views)
      %td= hour.percent_of(:redirects)
