%h2 Mobile Wikipedia Stats

%h3
  = number(@allTime)
  Happy Pages Served*

%img{:src => line_chart(@stats, ["hits_in_millions"], "Total Traffic in Millions")}
%img{:src => line_chart(@stats, ["average_action_time_in_ms"], "Average Page Serving Speed (ms)")}
%img{:src => line_chart(@stats, ["load_average"], "Mean Server Load")}

%h3
  = to_date_url("See today's incomplete stats", Date.today)


%h2= @time

%table
  %tr
    %td= @time
    %td Page Views
    %td 
      Average of Hourly 
      %br/
      Median Request Time
    %td Links
  - @stats.reverse.each do |stats|
    %tr
      %td= stats.time.strftime("%Y/%m/%d")
      %td{:style => "text-align: right"}= number stats.hits
      %td{:style => "text-align: right"}
        - if stats.median_action_time_in_ms > 0
          = stats.median_action_time_in_ms.to_s[0..5]
          ms
        - else
          N/A
      %td
        %a{:href => stats.time.strftime("hourly/%Y/%m/%d")} Hourly


%em * Includes entire beta period