- if @article.has_search_results?
  - if @article.search_results
    %h3= language_object['search_results']
    %ul= @article.search_results
  - else
    %h3= language_object['no_article_found']
    %ul= @article.suggestions
- else
  = preserve @article.html(request.device)

.notice
  %a{:href => "/redirect_to?url=" + URI::escape("http://#{request.language_code}.wikipedia.org/wiki/#{@article.title}")}= language_object["regular_wikipedia"]