%h1
  = language_object['are_you_sure'].force_encoding("UTF-8")
%p
  = language_object['explain_disable'].force_encoding("UTF-8")

#disableButtons
  %form{:action => redirect_url, :method => "get"}
    %input{:type => "hidden", :name => "to", :value => "#{path_site}/"}
    %input{:type => "hidden", :name => "expires_in_days", :value => "#{365 * 10}"}
    %button#disableButton{:type => "submit"}= language_object['disable_button'].force_encoding("UTF-8")

  %form{:action => "/#{variant_name}/#{@path}", :method => "get" }
    %button#backButton{:type => "submit"}= language_object['back_button'].force_encoding("UTF-8")
