#footmenu.nav
  %a.arrow{:href => "#header"} Top &uarr;
  %span.idx 0
  %a#homeButton{:href => "/wiki/::Home", :accesskey => "0"}= language_object["home_button"]
  %br>
  %span.idx 1
  %a#randomButton{:href => "/wiki/::Random", :accesskey => "1"}= language_object["random_button"]
  %br>
  %span.idx 2
  %a{:href => "#header", :accesskey => "2"} Top
  %br>
  %span.idx 3
  - if @article
    %a{:href => temp_url(@article.title), :accesskey => "3"}= language_object["regular_wikipedia"]
  - else
    %a{:href => temp_url(""), :accesskey => "3"}= language_object["regular_wikipedia"]
  -# 4 is Talk, 6 Hist
  - if @article
    %br>
    %span.idx 5
    %a{:href => action_url(@article.title, "edit"), :accesskey => "5"} Edit
    %br>
    %span.idx 6
    %a{:href => action_url(@article.title, "history"), :accesskey => "6"} History
  %br>
  %span.idx 8
  %a{:href => "#footmenu", :accesskey => "8"} Bottom
  %br>
  - if @article
    %a{:href => perm_url(@article.title)}= language_object["perm_stop_redirect"]
  - else
    %a{:href => perm_url("")}= language_object["perm_stop_redirect"]
