- if @article
  - if request.device.supports_javascript_selectors
    :javascript
      var title = "#{@article.title.gsub("_", " ")}";
      var server = "#{@article.server.base_url}";

      document.addEventListener("DOMContentLoaded", function() {
        NodeList.prototype.forEach = Array.prototype.forEach;

        document.querySelectorAll("button.show").forEach(function(button) {
          button.addEventListener("click", function(e) {
            var section_id = button.getAttribute("section_id");
            document.getElementById("content_" + section_id).style.display = "";
            button.style.display = "none";
            document.querySelector("button.hide[section_id='" + section_id + "']").style.display = ""
          });
        });

        document.querySelectorAll("button.hide").forEach(function(button) {
          button.addEventListener("click", function(e) {
            var section_id = button.getAttribute("section_id");
            document.getElementById("content_" + section_id).style.display = "none";
            button.style.display = "none";
            document.querySelector("button.show[section_id='" + section_id + "']").style.display = ""
          });
        });
      });

  - else
    :javascript
      var title = "#{@article.title.gsub("_", " ")}";
      var server = "#{@article.server.base_url}";

      document.addEventListener("DOMContentLoaded", function() {

        var buttons= document.getElementsByTagName("button");
        for (i in buttons){
          var button= buttons[i];
          if(button.className=="section_heading show"){
            button.addEventListener("click", function(e) {
              var section_id = this.getAttribute("section_id");
              document.getElementById("content_" + section_id).style.display = "";
              this.style.display = "none";
              this.nextSibling.style.display = "";
            }, false);
          } else if(button.className=="section_heading hide"){
            button.addEventListener("click", function(e) {
              var section_id = this.getAttribute("section_id");
              document.getElementById("content_" + section_id).style.display = "none";
              this.style.display = "none";
              this.previousSibling.style.display = "";
            }, false);
          }
        }
      }, false);

- elsif @name != "" 
  :javascript
    var title = "#{@name}";