#header
  #searchbox
    %img{:src => "/images/w.gif", :id => "logo", :alt => "W logo"}/
    %form.search_bar{:action => @variant, :method => "get"}
      %input#searchField{:name => "search", :type => "text", :value => search_bar_contents}/
      %input#searchButton{:type =>"image", :src => "/images/s.gif", :alt => go_text}
        %input#submitButton{:type=>"submit"}/

  #nav.nav
    %a#homeButton{:href => home_page_path}= language_object["home_button"]
    = " | "
    %a#randomButton{:href => random_page_path}= language_object["random_button"]
    %a.arrow{:href => "#footmenu"}
      = language_object["nav_end"]
      = "&darr;"
