!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en-us", :lang => "en-us"}
  %head
    %title Wikipedia
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    %link{:type => "text/css", :href => "/stylesheets/#{request.device.css_file_name}.css", :rel => "Stylesheet", :media => "all"}/
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    <meta name = "viewport" content = "width=device-width" />
    <meta name = "viewport" content = "initial-scale = 1.0" />
    <link rel="apple-touch-icon" href="http://en.m.wikipedia.org/apple-touch-icon.png" />
    - if request.device.supports_javascript
      = partial "layout/javascript"
      <script type="text/javascript" language="javascript" SRC="/javascript/jquery.js"></script>
      <script type="text/javascript" language="javascript" SRC="/javascript/application.js"></script>
      
  %body
    
    #content_wrapper
      - if params[:searchBar] != false
        = partial("layout/search_".force_encoding("UTF-8") + request.device.search_bar).force_encoding("UTF-8") if request.device.search_bar
      = catch_content :for_layout
    #footer
      = language_object["copyright"]