
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => current_language, :lang => current_language, :dir => direction}
  %head
    %title= h(@article ? @article.display_name : "Wikipedia")
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    %link{:type => "text/css", :href => "/stylesheets/#{request.device.css_file_name}.css", :rel => "Stylesheet", :media => "all"}/
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    
    - if request.device.disable_zoom
      <meta name = "viewport" content = "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    - else
      <meta name = "viewport" content = "width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="apple-touch-icon" href="http://en.m.wikipedia.org/apple-touch-icon.png" />
    - if request.device.supports_javascript
      = partial "layout/javascript"
      <script type="text/javascript" language="javascript" SRC="/javascripts/jquery.js"></script>
      <script type="text/javascript" language="javascript" SRC="/javascripts/application.js"></script>
  %body
    - if (params['searchBar'] || "") != "false"
      = partial("layout/search_".force_encoding("UTF-8") + request.device.search_bar) if request.device.search_bar
    #content_wrapper{:class => request.action_name}
      = catch_content :for_layout
    #footer
      - if params['footmenu'] != "false"
        = partial("layout/footmenu_".force_encoding("UTF-8") + request.device.footmenu) if request.device.footmenu
      #copyright= language_object["copyright"]
      - if false
        #help
          = language_object["contact_us"].gsub("mobile@wikipedia.org", "<a href='mailto:mobile@wikipedia.org'>mobile@wikipedia.org</a>")
    /
      == Backend Server: '#{Socket.gethostname}'
      == Ruby Version: '#{RUBY_VERSION}'
      == Hit Cache?: #{!!Merb.logger[:cache_hit]}
