!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en-us", :lang => "en-us"}
  %head
    %title Wikipedia
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    %link{:type => "text/css", :href => "/stylesheets/#{request.device.css_file_name}.css", :rel => "Stylesheet", :media => "all"}/
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <meta name = "viewport" content = "width=device-width">
    <meta name = "viewport" content = "initial-scale = 1.0">
    - if request.device.supports_javascript
      = partial "layout/javascript"
  %body
    #content_wrapper
      = search_bar if request.device.search_bar
      = catch_content :for_layout
    #footer
      = language_object["copyright"]
      
